<div class="home">
	<h1>
    <span class="mob">Skadi the Ruthless</span>&nbsp;
    <countdown [config]="{leftTime: timeTo?.skadi}"></countdown>
		para proximo spawn.
	</h1>
	<h1>
		<span class="mob">Bronjahm</span>&nbsp;
    <countdown [config]="{leftTime: timeTo?.bron}"></countdown>
    para proximo spawn.
	</h1>
</div>

<p>by <a href="https://twitter.com/AcademicoMDP">@AcademicoMDP</a> - Inspired on <a target="_blank" href="https://timetobronjahm.vercel.app/">https://timetobronjahm.vercel.app/</a></p>
